th {
  padding-left: 40px;
  font-family: sans-serif;
}
.trace{
  margin-left: 40px;
  padding-left: 40px;
  font-family: sans-serif;
  text-align: center;
}

table {
  color: black;
}

td {
  margin-top: 20px;
}

.medium {
  font-weight: 600;
  font-size: 30;
}